<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>试卷上传</title>
    <link rel="stylesheet" href="{$=url_for('static', filename='wechat/css/weui.min.css')}"/>
    <link rel="stylesheet" href="{$=url_for('static', filename='wechat/css/example.css')}"/>
    <link rel="stylesheet" href="{$=url_for('static', filename='wechat/css/date.css')}"/>
    <script src="{$=url_for('static', filename='wechat/js/zepto.min.js')}"></script>
    <script src="{$=url_for('static', filename='wechat/js/zepto.min1.js')}"></script>
    <!--<script src="{$=url_for('static', filename='wechat/js/example.js')}"></script>-->
    <script src="{$=url_for('static', filename='wechat/js/picker.js')}"></script>
    <!--<script src="{$=url_for('static', filename='wechat/js/laydate/laydate.js')}"></script>-->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
	 <script src="{$=url_for('static', filename='wechat/public/weui4.2/lrz.min.js')}"></script>
	 <script src="{$=url_for('static', filename='wechat/js/index.js')}"></script>
     <script src="{$=url_for('static', filename='wechat/js/selcity.js')}"></script>
    <script type="text/javascript">
        var subjects = JSON.parse('{$=subjects | safe}')
    </script>
    <style>
        .page,body{background-color:#FFFFFF}
        .text-center{
            text-align: center;
        }

        select{
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 3em;
            opacity: 0;
            z-index: 10;
        }
        #date{
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            height: 3em;
            opacity: 0;
            z-index: 10;
            margin: 0 auto;
        }
        #loading div{
            margin-top:60% ;
        }
        .weui-picker-container{
            z-index: 20;
        }
    </style>
</head>

<body ontouchstart>

<!--<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>-->
<!--<div class="container" id="container"></div>-->
<!--<script type="text/html" id="tpl_home">-->
    <!--<a href="javascript:;" id="loading" class="weui-btn weui-btn_default weui-btn_loading"><div><i class="weui-loading"></i><br>请稍后 Loading</div></a>-->
    <!--<div class="" style="height:100%">-->
        <div class="page-bd " style="height:100%">
            <div class="weui-tab">
                <div class="weui-tab__panel" style="display: block; transform-origin: 0px 0px 0px; opacity: 1;">
                    <div id="loadingToast" style="display:none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-loading weui-icon_toast"></i>
                            <p class="weui-toast__content">数据加载中</p>
                        </div>
                    </div>
                    <div id="loadingToast1" style="display:none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-loading weui-icon_toast"></i>
                            <p class="weui-toast__content">照片上传中</p>
                        </div>
                    </div>
                    <div id="loadingToast2" style="display:none;">
                        <div class="weui-mask_transparent"></div>
                        <div class="weui-toast">
                            <i class="weui-loading weui-icon_toast"></i>
                            <p class="weui-toast__content">数据提交中</p>
                        </div>
                    </div>
        <form action="" id="formpaper">
        <div class="form-wrapper">
            <div id="form-content">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="year" class="weui-label">学年</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select">请选择</span>
                        <select  name="year" id="year" >
                            <option value="请选择">请选择</option>
                            <option value="2010">2010-2011学年</option>
                            <option value="2011">2011-2012学年</option>
                            <option value="2012">2012-2013学年</option>
                            <option value="2013">2013-2014学年</option>
                            <option value="2014">2014-2015学年</option>
                            <option value="2015">2015-2016学年</option>
                            <option value="2016">2016-2017学年</option>
                            <option value="2017">2017-2018学年</option>
                            <option value="2018">2018-2019学年</option>
                            <option value="2019">2019-2020学年</option>
                            <option value="2020">2020-2021学年</option>
                            <option value="2021">2021-2022学年</option>
                            <option value="2022">2022-2023学年</option>
                            <option value="2023">2023-2024学年</option>
                            <option value="2024">2024-2025学年</option>
                            <option value="2025">2025-2026学年</option>
                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd" >
                        <label for="Semester" class="weui-label">学期</label>
                    </div>
                    <div class="weui-cell__bd  text-center">
                        <span class="weui-select">请选择</span>
                        <select name="Semester" id="Semester" >
                            <option value="请选择">请选择</option>
                            <option value="FIRST_HALF">上学期</option>
                            <option value="SECOND_HALF">下学期</option>
                        </select>
                    </div>
                    </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd" >
                        <label for="date" class="weui-label">考试时间</label>
                    </div>
                    <div class="weui-cell__bd  text-center">
                        <span class="weui-select">请选择</span>
                        <input class="weui_input" type="text" value="" id='date'/>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd" >
                        <label for="province" class="weui-label">省份</label>
                    </div>
                    <div class="weui-cell__bd  text-center">
                        <span class="weui-select">请选择</span>
                        <select name="province" id="province" >
                            <option  value="请选择" >请选择</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd" >
                        <label for="city" class="weui-label">城市</label>
                    </div>
                    <div class="weui-cell__bd  text-center">
                        <span class="weui-select">请选择</span>
                        <select name="city" id="city" >
                            <option value="请选择">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="county" class="weui-label">区县</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select" >请选择</span>
                        <select  name="county" id="county"  >
                            <option value="请选择">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="school" class="weui-label">学校</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select">请选择</span>
                        <select   name="school" id="school" placeholder="请选择学校">
                            <option value="请选择">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="grade" class="weui-label">年级</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select">请选择</span>
                        <select   name="grade"  id="grade" placeholder="请选择学校">
                            <option value="请选择">请选择</option>
                            <option value="1">一年级</option>
                            <option value="2">二年级</option>
                            <option value="3">三年级</option>
                            <option value="4">四年级</option>
                            <option value="5">五年级</option>
                            <option value="6">六年级</option>
                            <option value="7">初一</option>
                            <option value="8">初二</option>
                            <option value="9">初三</option>
                            <option value="10">高一</option>
                            <option value="11">高二</option>
                            <option value="12">高三</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="subject" class="weui-label">科目</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select">请选择</span>
                        <select  name="subject" id="subject" placeholder="请选择科目">
                            <option value="请选择">请选择</option>

                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="stage" class="weui-label">试卷类型</label>
                    </div>
                    <div class="weui-cell__bd text-center">
                        <span class="weui-select">请选择</span>
                        <select   name="stage" id="stage" >
                            <option value="请选择">请选择</option>
                            <option value="PAPER_UNIT">单元考</option>
                            <option value="PAPER_MONTH">月考</option>
                            <option value="PAPER_MIDLE_TERM">期末考</option>
                            <option value="PAPER_LAST">小测</option>
                            <option value="PAPER_TEST">练习</option>
                            <option value="PAPER_HK">会考</option>
                            <option value="PAPER_QULITY">质检</option>
                            <option value="PAPER_MODEL">模拟考</option>
                            <option value="PAPER_MIDLE">中考</option>
                            <option value="PAPER_ZZZS">自主招生考试</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label for="papuser" class="weui-label">试卷名称</label>
                    </div>
                    <div class="weui-cell__bd ">
                        <input type="text" class="weui-input text-center" name="papuser" id="papuser" placeholder="请输入试卷名称">
                    </div>
                </div>
            </div>
        </div>
        </form>
                    <div class="weui-gallery" id="gallery">
                        <span class="weui-gallery__img" id="galleryImg"></span>
                        <div class="weui-gallery__opr">
                            <a href="javascript:" class="weui-gallery__del">
                                <div class="weui-icon-delete weui-icon_gallery-delete"></div>
                            </a>
                        </div>
                    </div>
                    <div class="weui-cells weui-cells_form">
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <div class="weui-uploader">
                                    <div class="weui-uploader__hd">
                                        <p class="weui-uploader__title">图片上传 <sub style="color: #9d9d9d">(点击图片可删除)</sub>    </p>
                                        <!--<div class="weui-uploader__info">0/2</div>-->
                                    </div>
                                    <div class="weui-uploader__bd">
                                        <ul class="weui-uploader__files" id="uploaderFiles">
                                            <!--<li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">-->
                                            <!--<div class="weui-uploader__file-content">50%</div>-->
                                            <!--</li>-->
                                        </ul>
                                        <!--<form  id="forminput" action="asd.php" target="exec_target" enctype="multipart/form-data" >-->
                                        <form id="uploadForm" >
                                            <div class="weui-uploader__input-box" id="shangchuang">
                                                <!--<input type="text" name="id"  value="WU_FILE_0" style="display: none">-->
                                                <!--<input type="text" name="name" value="toast1.png"  style="display: none">-->
                                                <!--<input type="text" name="type" value="image/png"  style="display: none">-->
                                                <!--<input type="text" name="lastModifiedDate" value="Tue Apr 18 2017 02:54:50 GMT+0800"  style="display: none">-->
                                                <!--<input type="text" name="size" value="101150"  style="display: none">-->
                                                <!--<input id="uploaderInput" class="weui-uploader__input"  name="file" type="file" accept="image/*" multiple >-->
                                                <input class="weui-uploader__input"  name="file"   capture="camera"    type="file"  accept="image/*"  id="uploaderInput" multiple>


                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button class="weui-btn weui-btn_primary" id="submit" style="margin-bottom: 50px"> 提交 </button>
           </div>
        <div class="weui-tabbar" id="tabbar">
            <!--<a href="http://127.0.0.1:5000/wechat/index" class="weui-tabbar__item weui-bar__item_on">-->
            <!--<a href="/wechat/login" class="weui-tabbar__item">-->
                    <!--<span style="display: inline-block;position: relative;">-->
                        <!--<img src="/static/wechat/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">-->
                        <!--&lt;!&ndash;<span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>&ndash;&gt;-->
                    <!--</span>-->
                <!--<p class="weui-tabbar__label">登入</p>-->
            <!--</a>-->
            <a href="/wechat/index" class="weui-tabbar__item weui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <img src="/static/wechat/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                        <!--<span class="weui-badge" style="position: absolute;top: -2px;right: -13px;">8</span>-->
                    </span>
                <p class="weui-tabbar__label">试卷上传</p>
            </a>
            <!--<a href="http://127.0.0.1:5000/wechat/upload" class="weui-tabbar__item">-->
            <a href="/wechat/upload" class="weui-tabbar__item">
                <img src="/static/wechat/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">上传记录</p>
            </a>

            <!--<a href="javascript:;" class="weui-tabbar__item">-->
            <!--<img src="./images/icon_nav_icons.png" alt="" class="weui-tabbar__icon">-->
            <!--<p class="weui-tabbar__label">我</p>-->
            <!--</a>-->
        </div>
            </div>
        </div>
    <!--</div>-->




</body>

</html>