<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>思明试卷情报系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{$=url_for('static', filename='css/bootstrap-3.3.6.min.css')}">
    <link rel="stylesheet" type="text/css" href="{$=url_for('static', filename='css/app.css')}">
</head>
<body>
<div class="login-page container">

    登录页
    

</div>

</body>
</html>