<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>思明试卷情报系统</title>
    <meta name="description" content="">
    <script type="text/javascript">
        var siteUrl = "{$=site_url}";
        var userInfo = JSON.parse('{$=user_info | safe}');
    </script>

    <link rel="stylesheet" href="{$=url_for('static', filename="public/app.css")}"/>
</head>
<body>
  {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" style="text-align:center">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
               注册成功!
          </div>
        {% endfor %}
<div id="app">

</div>

<script src="{$=url_for('static', filename="public/static/jquery.min.js")}"></script>
<script src="{$=url_for('static', filename="public/static/lodash.min.js")}"></script>
<script src="{$=url_for('static', filename="public/static/ckeditor/ckeditor.js")}"></script>
<script src="{$=url_for('static', filename="public/app.js")}"></script>
</body>
</html>
